*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}
body{
    background-color: #222;
    color: #fff;
}
.banner{
   
    /* background: linear-gradient(0deg, #181818 0, hsla(0, 0%, 9%, .987) 1.62%, hsla(0, 0%, 9%, .951) 3.1%, hsla(0, 0%, 9%, .896) 4.5%, hsla(0, 0%, 9%, .825) 5.8%, hsla(0, 0%, 9%, .741) 7.06%, hsla(0, 0%, 9%, .648) 8.24%, hsla(0, 0%, 9%, .55) 9.42%, hsla(0, 0%, 9%, .45) 10.58%, hsla(0, 0%, 9%, .352) 11.76%, hsla(0, 0%, 9%, .259) 12.94%, hsla(0, 0%, 9%, .175) 14.2%, hsla(0, 0%, 9%, .104) 15.5%, hsla(0, 0%, 9%, .049) 16.9%, hsla(0, 0%, 9%, .013) 18.38%, hsla(0, 0%, 9%, 0) 20%), url("https://occ-0-3215-3663.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABTE0ACUnOjqu9vIfG63W8oQX8ajgyABtY0NuwceJdaQIXYPdMPcYWHb6XV7njIzVmwEIKT5HB4ARDouDr1IFLWcJUBvdjwMSSwuJ.jpg"); */
    background: linear-gradient(90deg, #181818 0, hsla(0, 0%, 9%, .987) 0%, hsla(0, 0%, 9%, .900) .1%, hsla(0, 0%, 9%, .89) 6.5%, hsla(0, 0%, 9%, .8) 1.8%, hsla(0, 0%, 60%, 0) 90.06%, hsla(0, 0%, 90%, .6) 60.24%, hsla(0, 0%, 9%, .5) 12.42%, hsla(0, 0%, 30%, .5) 1.58%, hsla(0, 0%, 100%, .5) 20.76%, hsla(0, 0%, 3%, .2) 20.94%, hsla(0, 0%, 3%, .1) 40.2%, hsla(0, 0%, 3%, .1) 15.5%, hsla(0, 0%, 3%, .04) 16.9%, hsla(400, 0%, 3%, .0) 18.38%, hsla(0, 0%, 9%, 0) 20%), url("https://occ-0-3215-3663.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABTE0ACUnOjqu9vIfG63W8oQX8ajgyABtY0NuwceJdaQIXYPdMPcYWHb6XV7njIzVmwEIKT5HB4ARDouDr1IFLWcJUBvdjwMSSwuJ.jpg") ;
    ,url("https://occ-0-3215-3663.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABTE0ACUnOjqu9vIfG63W8oQX8ajgyABtY0NuwceJdaQIXYPdMPcYWHb6XV7njIzVmwEIKT5HB4ARDouDr1IFLWcJUBvdjwMSSwuJ.jpg");
    background-position:center center;
    background-size:cover;
    background-repeat:no-repeat;
    max-width:100%;
    height:100vh;
}

.content {
    padding: 12% 0% 0% 5%;
   
}
.content .title img{
    width:40%;
}
.bannercontent{
    padding: 15% 10%;
}
.bannercontent .bannertitle h1{
    font-size: 30px;
    padding:10% 0% 0% 0%;
}
.title h1{
    padding:3% 0% 1% 0%;
    font-size: xx-large;
}
.title h3{
    font-weight: 400;
    line-height:18px ;
    color:#a3a3a3;
    font-size: 14px;
    position: relative;
    padding: 1% 0% 1% 0%;
}
.bar1{
    margin: 0px 6px 0px 6px;
}
.bar2{
    margin: 0px 6px 0px 6px;
}
.bar3{
    margin: 0px 6px 0px 6px;
}
.box{
    border: 1px solid #a1a1a1;
    padding: 0 5px;
}
.act{
    cursor: pointer;
}
.char{
    color: white;
}
nav{
    display: flex;
    background-color: black;
    padding: 10px 10px 0px 40px;
    justify-content: space-between;
}
.logo img{
    object-fit: contain;
    max-width: 10%;
    align-items: center;
    
}
.action{
    display: flex;
    justify-content: space-between;
   
}
.join{ 
    width:180px;
    height:40px; 
    background-color: #e50914;
    color: #fff;
    padding: 3% 1% 3% 1%;
    border-radius: 5px;
    font-weight: 600;
    font-family: Arial;
    margin: 0px 13px 10px 0px;
}
.signin{ 
    width:120px;
    height:40px; 
    background-color:transparent;
    border-width: 0.1px;
    color: #fff;
    padding: 3% 1% 3% 1%;
    border-radius: 5px;
    font-weight: 600;
    font-family: arial;
    border-color: white;
}
nav .action .join:hover{
    background-color: red;
    transition: 0.5ms;
}
nav .action .signin:hover{
    background-color:rgb(53, 52, 53);
    transition: 0.5ms;
}
.action p{
    text-align: center;
    padding: 2% 1% 1.5% 1%;
    font-size: small;
}
